# OS
.DS_Store

# Local configuration
local.properties

# Gradle cache and build outputs
.gradle/
build/

# Android build outputs
*.apk
*.aab
*.ap_

# IDE files
*.iml
.idea/
.kotlin/
.vscode/

# Log files
*.log